#password-input-container {
  position: relative;
}

.password-eye {
  position: absolute;
  bottom: 14%;
  right: 8%;
  font-size: medium;
}

.userProfile {
  margin: 7px 0px 0px 0px;
}

.logOutBtn {
  padding: 4px 10px 4px 10px;
  margin: 6px 0px 0px 0px;
}

.logOutBtn i:hover {
  color: #fff !important;
}

/* Add this to your styles.css or styles.scss */
.sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.cartImg{
  height: 50px !important;
  width: 80px !important;
}
