<header>
  <nav class="navbar navbar-expand-lg navbar-light nav-yellow  border-bottom border-top p-0">
    <div class="container">
      <a class="navbar-brand fs-4 fw-bold "><i class="fa fa-cart-shopping fs-4" style="color: #f54242;"></i><span
          class="textBlur">bigBasket</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!--Toggle  -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" (mouseleave)="resetSubcategories()">
              <li *ngFor="let category of categoryList" class="position-relative">
                <a class="dropdown-item hand" (mouseover)="loadSubcategories(category)">
                  {{ category.categoryName }}
                </a>
                <!-- Nested dropdown for subcategories -->
                <ul class="dropdown-menu sub-menu" *ngIf="category.subcategories && category.subcategories.length > 0">
                  <li *ngFor="let subcategory of category.subcategories"
                    (click)="navigateToProducts(subcategory.categoryId)">
                    <a class="dropdown-item hand" routerLinkActive="router-link-active">{{ subcategory.categoryName
                      }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black me-1" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item">About Us</a></li>
              <li><a class="dropdown-item">Contact Us</a></li>
              <li><a class="dropdown-item">Terms and Conditions</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold text-uppercase text-black me-1 hand">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-solid fa-magnifying-glass fs-5" style="color: #0c0d0d;"></i></a>
          </li>
          <!-- cart -->
          <ng-container *ngIf="loggedInObj?.custId">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-cart-shopping fs-5 me-1" style="color: #202122;"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-danger"
                  *ngIf="cartList.length !== 0">
                  {{cartList.length}}
                </span>
              </a>
              <ng-container *ngIf="cartList.length !== 0">
                <ul class="dropdown-menu menuOnLeft rounded-0 mt-2" aria-labelledby="navbarDropdown3">
                  <li class="p-2" *ngFor="let cart of cartList">
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <img class="cartImg" [src]="cart.productImageUrl" alt="...">
                        </div>
                        <div class="col-md-6">
                          <div>
                            <a class="text-decoration-none text-black fw-semibold">
                              <p class="m-0 p-0">{{cart.productShortName}}</p>
                            </a>
                            <p>{{cart.quantity}} <i class="fa-solid fa-xmark" style="color: #0d0d0d;"></i>
                              {{cart.productPrice
                              |currency:'INR'}}</p>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <button class="btn closeBtn float-end" style="height: auto;" (click)="remove(cart.cartId)"><i
                              class="fa fa-xmark"></i></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="p-2">
                    <div class=" w-100 ">
                      <div class="d-flex justify-content-between">
                        <h6>SubTotal :</h6>
                        <h6>{{calculateTotalSubtotal() | currency: 'INR'}}</h6>
                      </div>
                      <div class="d-flex justify-content-evenly mt-2">
                        <button class="btn btn-dark rounded-0 px-3"> View Cart</button>
                        <a routerLink="/checkout" routerLinkActive="router-link-active"> <button
                            class="btn btn-danger rounded-0 px-3">Checkout</button></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </ng-container>
              <ng-container *ngIf="cartList.length == 0">
                <ul class="dropdown-menu menuOnLeft rounded-0 mt-2" aria-labelledby="navbarDropdown">
                  <li>
                    <p class="text-center mb-0">No Product Added to Cart</p>
                  </li>
                </ul>
              </ng-container>
            </li>
            <span class="d-flex">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-dark fw-bold"><i class="fa fa-user ms-3 me-1"></i>{{loggedInObj.name |
                    uppercase}}</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li> <a class="dropdown-item hand" (click)="openProfileModal()"> Profile </a></li>
                  <li> <a class="dropdown-item hand" routerLink="/order-history" routerLinkActive="router-link-active">
                      Orders</a></li>
                </ul>
              </li>
              <li class="nav-item ms-4">
                <button class="btn btn-sm btn-danger logOutBtn" (click)="loginSrv.onLogOut(loggedInObj)"> <i
                    class="fa fa-sign-out" aria-hidden="true"></i></button>
              </li>
            </span>
          </ng-container>
          <ng-container *ngIf="!loggedInObj?.custId">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black  me-1"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user fs-5 me-1" style="color: #202122;"></i>
              </a>
              <ul class="dropdown-menu loginDropdownMenu" style="left:-50px" aria-labelledby="navbarDropdown">
                <li>
                  <div class="text-center">
                    <a (click)="openLoginModal()"><button class="btn loginBtn rounded-2">Login</button></a>
                    <div class="regDiv">
                      <span>New customer? </span><a class="registerLink" (click)="openRegisterModal()">Start here.</a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link"> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- login modal starts -->
<div class="row">
  <div class="col-md-12">
    <form #loginFrm="ngForm">
      <p-dialog [header]="'Login'" [(visible)]="displayModalLogin" [modal]="true" [style]="{width: '50vw'}"
        [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <div class="row">
          <div class="col-md-12">
            <label class="my-1 fw-semibold">Mobile Number</label>
            <input type="tel" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="loginObj.UserName"
              required [pattern]="phonePattern" pInputText placeholder="Enter Mobile Number">
            <div class="validation-error" *ngIf="phone.touched || phone.dirty">
              <div *ngIf="phone.errors?.['required']">Mobile Number is required</div>
              <div *ngIf="phone.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div id="password-input-container">
              <label class="my-1 fw-semibold">Password</label>
              <input [type]="showLoginPassword?'text':'password'" class="form-control" name="UserPassword"
                #UserPassword="ngModel" required [pattern]="passwordPattern" [(ngModel)]="loginObj.UserPassword"
                pInputText placeholder="Enter Password">
              <span toggle="#password-field" class="fa fa-fw fa-eye hand password-eye" (click)="onEyeClick()"
                *ngIf="showLoginPassword == true"></span>
              <span toggle="#password-field" class="fa fa-fw fa-eye-slash hand password-eye" (click)="onEyeClick()"
                *ngIf="showLoginPassword == false"></span>
            </div>
            <div class="validation-error" *ngIf="UserPassword.touched || UserPassword.dirty">
              <div *ngIf="UserPassword.errors?.['required']">Password is required</div>
              <div *ngIf="UserPassword.errors?.['pattern']">Password must contain at least one uppercase letter, one
                lowercase letter, one digit, and one special character (#?!&#64;$%^&*-).</div>
            </div>
            <div class="mt-2">
              <div class="field field-checkbox">
                <p-checkbox class="rememberMeTxt pe-5" [(ngModel)]="rememberMe" name="rememberMe" label="Remember me"
                  inputId="rememberMeCheckbox" [binary]="true"></p-checkbox>
              </div>
            </div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple class="p-button-success p-button-sm" label="Login" (click)="login(loginFrm)">
            <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
          </button>
          <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Close"
            (click)="closeLoginModal()"></button>
        </ng-template>
      </p-dialog>
    </form>
  </div>
</div>
<!-- login modal ends -->

<!-- register modal starts -->
<div class="row">
  <div class="col-md-12">
    <form #registerFrm="ngForm">
      <p-dialog [header]="'Register'" [(visible)]="displayModalRegistration" [modal]="true" [style]="{width: '50vw'}"
        [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <div class="row">
          <div class="col-md-6">
            <label class="my-1 fw-semibold">Name</label>
            <input type="text" class="form-control" name="Name" #Name="ngModel" [(ngModel)]="registerObj.Name" required
              pInputText placeholder="Enter Your Name">
            <div class="validation-error" *ngIf="Name.touched || Name.dirty">
              <div *ngIf="Name.errors?.['required']">Name is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="my-1 fw-semibold">Mobile</label>
            <input type="tel" class="form-control" name="MobileNo" #MobileNo="ngModel" [pattern]="phonePattern"
              [(ngModel)]="registerObj.MobileNo" required pInputText placeholder="Enter Mobile No">
            <div class="validation-error" *ngIf="MobileNo.touched || MobileNo.dirty">
              <div *ngIf="MobileNo.errors?.['required']">Mobile Number is required</div>
              <div *ngIf="MobileNo.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div id="password-input-container">
              <label class="my-1 fw-semibold">Password</label>
              <input [type]="showRegisterPassword?'text':'password'" class="form-control" name="Password"
                #Password="ngModel" required [pattern]="passwordPattern" [(ngModel)]="registerObj.Password" pInputText
                placeholder="Enter Password">
              <span toggle="#password-field" class="fa fa-fw fa-eye hand password-eye" (click)="onProfileEyeClick()"
                *ngIf="showRegisterPassword == true"></span>
              <span toggle="#password-field" class="fa fa-fw fa-eye-slash hand password-eye"
                (click)="onRegisterEyeClick()" *ngIf="showRegisterPassword == false"></span>
            </div>
            <div class="validation-error" *ngIf="Password.touched || Password.dirty">
              <div *ngIf="Password.errors?.['required']">Password is required</div>
              <div *ngIf="Password.errors?.['pattern']">Password must contain at least one uppercase letter, one
                lowercase letter, one digit, and one special character (#?!&#64;$%^&*-).</div>
            </div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple class="p-button-primary p-button-sm" label="Register" (click)="register(registerFrm)">
            <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
          </button>
          <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Close"
            (click)="closeRegisterModal()"></button>
        </ng-template>
      </p-dialog>
    </form>
  </div>
</div>
<!-- register modal ends -->

<!-- customer profile modal starts -->
<div class="row">
  <div class="col-md-12">
    <form #profileFrm="ngForm">
      <p-dialog header="Welcome {{loggedInObj?.name | titlecase}}" [(visible)]="displayModalProfile" [modal]="true"
        [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000"
        [draggable]="false" [resizable]="false">
        <div class="row">
          <div class="col-md-6">
            <label class="my-1 fw-semibold">Name</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="profileObj.name" required
              pInputText placeholder="Enter Name">
            <div class="validation-error" *ngIf="name.touched || name.dirty">
              <div *ngIf="name.errors?.['required']"> Please Enter Your Name</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="my-1 fw-semibold">Mobile</label>
            <input type="tel" class="form-control" name="mobileNo" #mobileNo="ngModel" [pattern]="phonePattern"
              [(ngModel)]="profileObj.mobileNo" required pInputText placeholder="Enter Mobile No">
            <div class="validation-error" *ngIf="mobileNo.touched || mobileNo.dirty">
              <div *ngIf="mobileNo.errors?.['required']">Mobile Number is required</div>
              <div *ngIf="mobileNo.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div id="password-input-container">
              <label class="my-1 fw-semibold">Password</label>
              <input [type]="showProfilePassword?'text':'password'" class="form-control" name="password"
                #password="ngModel" required [pattern]="passwordPattern" [(ngModel)]="profileObj.password" pInputText
                placeholder="Enter Password">
              <span toggle="#password-field" class="fa fa-fw fa-eye hand password-eye" (click)="onProfileEyeClick()"
                *ngIf="showProfilePassword == true"></span>
              <span toggle="#password-field" class="fa fa-fw fa-eye-slash hand password-eye"
                (click)="onProfileEyeClick()" *ngIf="showProfilePassword == false"></span>
            </div>
            <div class="validation-error" *ngIf="password.touched || password.dirty">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['pattern']">Password must contain at least one uppercase letter, one
                lowercase letter, one digit, and one special character (#?!&#64;$%^&*-).</div>
            </div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple class="p-button-warning p-button-sm" label="Update
                      Profile" (click)="updateProfile()" [disabled]="profileFrm.invalid">
            <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
          </button>
          <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Cancel"
            (click)="closeProfileModal()"></button>
        </ng-template>
      </p-dialog>
    </form>
  </div>
</div>
<!-- customer profile modal ends -->
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
