<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-md-6">
              <h5>Product List</h5>
            </div>
            <div class="col-md-6 text-end">
              <button class="btn btn-sm btn-success" (click)="openProductModal()">New</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <ng-container *ngIf="filteredProductsList.length !== 0">
              <div class="col-md-3 mb-3" [ngClass]="isSidePanelVisible ? 'col-md-4' : ''"
                *ngFor="let product of filteredProductsList.slice(first, first + rows)">
                <div class="card cardDesign">
                  <div class="row">
                    <div class="col-md-12" style="height: 10.125rem !important">
                      <img class="card-img-top prodImg" [src]="product.productImageUrl" alt="Card image">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row rowPosition">
                      <div class="col-md-12">
                        <h5 class="card-title" [title]="product.productShortName">{{product.productShortName | titlecase
                          | truncate}}</h5>
                        <p class="card-text">{{product.categoryName}}</p>
                        <button pButton pRipple class="p-button-primary p-button-sm me-2"
                          (click)="onEdit(product)">Edit</button>
                        <button pButton pRipple class="p-button-danger p-button-sm"
                          (click)="onDelete(product)">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p-paginator [first]="first" [rows]="rows" [totalRecords]="filteredProductsList.length"
                (onPageChange)="onPageChange($event)" [showJumpToPageDropdown]="true"
                [showPageLinks]="false"></p-paginator>
            </ng-container>
            <ng-container *ngIf="filteredProductsList.length == 0">
              <div class="col-md-12 text-center">
                <h4 class="text-primary my-5">No Product In the List Right Now!!!</h4>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- new product modal starts -->
    <div class="row">
      <div class="col-md-12">
        <form #productFrm="ngForm">
          <p-dialog [header]="'New Product'" [(visible)]="displayModalProduct" [modal]="true" [style]="{width: '50vw'}"
            [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000" [draggable]="false"
            [resizable]="false">
            <div class="row">
              <div class="col-md-6">
                <label class="fw-semibold my-1">SKU</label>
                <input type="text" class="form-control" [(ngModel)]="productObj.productSku" name="productSku"
                  #productSku="ngModel" required placeholder="Enter SKU">
                <div class="validation-error" *ngIf="productSku.touched || productSku.dirty">
                  <div *ngIf="productSku.errors?.['required']">This field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="fw-semibold my-1">Name</label>
                <input type="text" class="form-control" [(ngModel)]="productObj.productName" name="productName"
                  #productName="ngModel" required placeholder="Enter Product Name">
                <div class="validation-error" *ngIf="productName.touched || productName.dirty">
                  <div *ngIf="productName.errors?.['required']">This field is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="fw-semibold my-1">Short Name</label>
                <input type="text" class="form-control" [(ngModel)]="productObj.productShortName"
                  name="productShortName" #productShortName="ngModel" required placeholder="Enter Product ShortName">
                <div class="validation-error" *ngIf="productShortName.touched || productShortName.dirty">
                  <div *ngIf="productShortName.errors?.['required']">This field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="fw-semibold my-1">Price</label>
                <input type="text" class="form-control" [(ngModel)]="productObj.productPrice" name="productPrice"
                  #productPrice="ngModel" required placeholder="Enter Product Price">
                <div class="validation-error" *ngIf="productPrice.touched || productPrice.dirty">
                  <div *ngIf="productPrice.errors?.['required']">This field is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="fw-semibold my-1">Category</label>
                <select [(ngModel)]="productObj.categoryId" class="form-select" name="categoryId" #categoryId="ngModel"
                  required>
                  <option value="null" disabled>Select Category</option>
                  <option *ngFor="let cate of categoryList" [value]="cate.categoryId"> {{cate.categoryName}}</option>
                </select>
                <div class="validation-error" *ngIf="categoryId.touched || categoryId.dirty">
                  <div *ngIf="categoryId.errors?.['required']">This field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="fw-semibold my-1">Delivery Time Span</label>
                <input type="text" class="form-control" [(ngModel)]="productObj.deliveryTimeSpan"
                  name="deliveryTimeSpan" #deliveryTimeSpan="ngModel" required placeholder="Enter Delivery Time Span">
                <div class="validation-error" *ngIf="deliveryTimeSpan.touched || deliveryTimeSpan.dirty">
                  <div *ngIf="deliveryTimeSpan.errors?.['required']">This field is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="fw-semibold my-1">Image Url</label>
                <input type="text" class="form-control" [(ngModel)]="productObj.productImageUrl" name="productImageUrl"
                  #productImageUrl="ngModel" required placeholder="Enter Product Image Url">
                <div class="validation-error" *ngIf="productImageUrl.touched || productImageUrl.dirty">
                  <div *ngIf="productImageUrl.errors?.['required']">This field is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="fw-semibold my-1">Product Description</label>
                <p-editor [(ngModel)]="productObj.productDescription" [style]="{ height: '120px'}"
                  name="productDescription" #productDescription="ngModel" required
                  placeholder="Enter Product Description"></p-editor>
                <div class="validation-error" *ngIf="productDescription.touched || productDescription.dirty">
                  <div *ngIf="productDescription.errors?.['required']">This field is required</div>
                </div>
              </div>
            </div>
            <ng-template pTemplate="footer">
              <button pButton pRipple class="p-button-success p-button-sm" label="Create Product" (click)="onSave()"
                *ngIf="productObj.productId == 0" [disabled]="productFrm.invalid">
                <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
              </button>
              <button pButton pRipple class="p-button-warning p-button-sm" label="Update Product" (click)="onUpdate()"
                *ngIf="productObj.productId !== 0">
                <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
              </button>
              <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Cancel"
                (click)="onReset()"></button>
            </ng-template>
          </p-dialog>
        </form>
      </div>
    </div>
    <!-- new product modal ends -->
  </div>
</div>
