<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-2">
        <h5>Big Basket</h5>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Become A bigbasket Rider</a></li>
          <li><a href="#">In News</a></li>
          <li><a href="#">Green bigbasket</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Affiliate</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Careers at bigbasket</a></li>
          <li><a href="#">bb Instant</a></li>
          <li><a href="#">bb Daily</a></li>
          <li><a href="#">bbNow</a></li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <h5>Help</h5>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">bb Wallet FAQs</a></li>
          <li><a href="#">bb Wallet T&Cs</a></li>
          <li><a href="#">Vendor Connect</a></li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <img class="footImg3" src="assets/bigbasket-logo.jpg" alt="">
        <div class="d-flex">
          <img class="footImg" src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
            alt="">
          <img class="footImg2" src="assets/download-on-the-app-store-apple-logo-svgrepo-com.svg" alt="">
        </div>
        <ul class="d-flex">
          <li><a><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a><i class="fa-brands fa-instagram"></i></a></li>
          <li><a><i class="fa-brands fa-twitter"></i></a></li>
          <li><a><i class="fa-brands fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
