a {
  text-decoration: none;
}

.prodImg {
  margin: 0px;
  min-width: 80%;
  max-width: 80%;
  min-height: 100%;
  max-height: 100%;
}

.cardDesign {
  border-color: #8189863c;
}

.orderDate p {
  color: #72767D;
}

.orderDate h5 {
  color: #72767D;
  font-size: 18px;
}

.orderAmount p {
  color: #72767D;
}

.orderAmount h5 {
  color: #72767D;
  font-size: 18px;
}

.orderDetails p {
  color: #72767D;
}

.prodDetails h5 {
  color: #136eb8;
  font-size: 17px;
  text-transform: capitalize;
}

.orderStatus h5{
  color: #313338;
  margin-top: 15px;
}

.trackOrderBtn {
  background-color: #F3CC6E;
  color: black;
  width: 100%;
  border: 1px solid #6f5c2cc1;
}

.trackOrderBtn:focus {
  background-color: #F3CC6E;
  color: black;
  width: 100%;
  border: 1px solid #6f5c2cc1;
}

.cancelOrderBtn {
  background-color: #EEEFF3;
  color: #2e303a;
  width: 100%;
  border: 1px solid #C6C7CA;
}

.cancelOrderBtn:focus {
  background-color: #EEEFF3;
  color: #2e303a;
  width: 100%;
  border: 1px solid #C6C7CA;
}
