.textBlur {
  color: transparent;
  text-shadow: 0 0 1px #202122;
}

.bg-primary {
  background-color: #81c408 !important;
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw) !important;
  font-weight: 800 !important;
  line-height: 1.2 !important;
  color: #81c408 !important;
}

.navbar {
  box-shadow: none;
}

a:hover {
  color: red !important;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  margin-top: 0;

}

.log_Reg_Border {
  border: 1px solid pink;
  border-radius: 20%;
  margin-left: 10px;

}

.hand {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid {
  height: 200px !important;
  width: 100% !important;
  margin-top: 0% !important;
}

.featurs .featurs-item .featurs-icon {
  position: relative;
  width: 120px;
  height: 120px;
}

.bg-light {
  background-color: #f4f6f8 !important;
}

.featurs .featurs-item .featurs-icon::after {
  content: "";
  width: 35px;
  height: 35px;
  background: var(--bs-secondary);
  position: absolute;
  bottom: -10px;
  transform: translate(-50%);
  transform: rotate(45deg);
  background: var(--bs-secondary);

}

.text-primary {
  color: #81c408 !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.border-secondary {
  border-color: #ffb524 !important;
}

.nav-yellow {
  background-color: #81c408 !important;
}

.menuOnLeft {
  background-color: #f9f9f9;
  width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: auto;
  right: 0px;
  /* Adjust the value to position the dropdown */
}

.menuOnLeft2 {
  background-color: #f9f9f9;
  width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: auto;
  right: 100px;
  /* Adjust the value to position the dropdown */
}

.closeBtn {
  font-size: 25px;
  color: black;
  margin-top: -56px;
}

#checkout {
  background-color: transparent;
  background-image: linear-gradient(226.69deg, #E5F8FF8C 38.63%, #F9E0B014 82.88%);

}

@media (min-width:375px) {
  .productHeading ul {
    flex-direction: column;
  }

}

/* login */
img {
  margin: 0 auto;
  display: block;
  margin-top: 20%;
}

.validation-error {
  color: #DC2626 !important;
  font-size: 13px;
}
