<div class="parent">
  <div class="container">
    <div class="left-section"></div>
    <div class="right-section">
      <div class="login-container">
        <form class="login-form">
          <h2 class="login-title"><i class="fas fa-user-circle"></i> Login</h2>
          <div class="form-control">
            <i class="fas fa-user icon"></i>
            <input type="text" name="userName" [(ngModel)]="loginObj.userName" placeholder="Username" id="username"
              required>
          </div>
          <div class="form-control">
            <i class="fas fa-lock icon"></i>
            <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" id="password">
          </div>
          <div class="remember-me">
            <input type="checkbox" id="rememberMe" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <label for="rememberMe">Remember me</label>
          </div>

          <div class="social-login">
            <i class="fab fa-google social-icon"></i>
            <i class="fab fa-facebook-f social-icon"></i>
            <i class="fab fa-twitter social-icon"></i>
          </div>
          <button type="button" (click)="onLogin()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
